.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 6rem 5rem;


}

.cart-container {
    position: sticky;
}

.pagination {
    text-align: center;
    margin-bottom: 4rem;
}

.active {
    background-color: red;
}

.notActive {
    background-color: aliceblue;
}